<!doctype html>
<html class="no-js">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta charset="UTF-8" />
  <meta name="author" content="Opoloo" />
  <meta name="revisit-after" content="3 days" />
  <meta name="robots" content="index,follow" />
  <%= display_meta_tags site: "Opoloo's Squirrel Park" %>
  <meta name="geo.position" CONTENT="50.00; 8.27">
  <meta name="geo.placename" CONTENT="Opoloo, Emmerich-Josef-Str. 1A, 55116 Mainz">
  <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1" />
  <link rel="icon" href="/favicon.png" type="image/png" />
  <%= yield :head %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if current_user %>
  <%= render_navbar { "" } %>
  <div class="spacer"></div>
<% end %>
<div id="pagewrap">
  <a id="top"></a>
  <div id="meta">
    <div id="meta_content">
      <div id="logo">
          <a href="/"><img src="/assets/logo.png" alt="Logo Lines" /></a>
      </div>
      <div id="opoloo">
        A Ruby on Rails Developer's Blog
      </div>
    </div>
  </div>

  <div id="content">
    <%= yield %>
  </div>

  <div id="footer">
    <div id="footer_content">
      <div class="footer-headline">Footer</div>
      <div class="row aboutopoloo">
        <div class="two-cols margin-2cols">
          <div class="about-title">Lines ...</div>
          <p>offers a solid starting point for Rails- and web-developers that want to cut the crap and focus on their content, with the freedom of full OSS access. You could start here by telling your readers what your blog aims at doing.</p>
        </div>
        <div class="two-cols">
          <a href="http://www.opoloo.com" class="about-title">How to get in touch ...</a>
          <p>In this section you could provide contact information and a couple of links to your website or projects. But what the dickens: you're an awesome developer — you can do whatever you want. For any concerns, write an email to <%= mail_to "info@opoloo.com", "info@opoloo.com", :encode => "javascript" %>.</p>
        </div>
      </div>
      <hr/>
      <div id="copyright">
	      <span class="weekday">Happy <%= Time.now.strftime("%A") %>.</span>
        <p>&copy; <%= Time.now.year %> <a href="">LINES</a> | <a href="">Imprint</a> | <%= link_to "RSS", articles_url(format: "atom") %> | <a href="http://twitter.com/" class="twitter"><span>Twitter</span></a> | <a href="http://plus.google.com/" class="gplus"><span>Google +</span></a> </p>
      </div>
    </div>
  </div>

</div>
</body>
</html>
